body {
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
}

h1 {
  margin: 1em 1em;
  font-size: 1.5em;
}

p {
  margin: 1em 1em;
}

#page {
  background-color: #a0e3dc;
}

#page div.wrapper {
  margin: 0 auto;
  width: 480px;
  background-color: #a5d2ee;
  color: #3f6d89;
}

#footer {
  background-color: #7ccec6;
}

#footer div.wrapper {
  margin: 0 auto;
  width: 480px;
  color: #fff;
  background-color: #70a5c5;
}
